<!DOCTYPE html>
<html>
  <head>
    <title>MessageApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div>Welcome, <%= current_user.name %></div>
      <a href="/logout">Log Out</a>
    <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
    <% end %>
    <%= yield %>
  </body>
</html>
